@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

/* Css Reset */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* Variables */

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --ascent-color: #2294ed;
    --ascent-color-dark: #1d68a3;
    --padding-inline-section: 20px;

}

body{
    font-family: "Poppins",'sans-serif';
    color: var(--primary-text-color);

}

/* Utility Classes */
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: "Roboto",'sans-serif';
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}
ul {
    list-style-type: none;
}

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline:auto;
    padding-inline:var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}
.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;

}
.hover-link:hover{
    color: var(--ascent-color);
}
.primary-button{
    background-color: var(--ascent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color) ;
}
.primary-button:hover{
    background-color: var(--ascent-color-dark);
}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    padding: 12px 24px ;
    columns: var(--primary-text-color);
    font-weight: 700;
}
.secondary-button:hover{
    border-color: var(--ascent-color);
    color: var(--ascent-color) !important;
}


/* Top Banner */
.top-banner{
    background-color: #4dadf7;
    background-image: url(/assets/asset\ 32.png);
    background-size: 350px;

}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align:center;
}

/* Navbar */
.main-nav{
    justify-content: space-between;
    margin-top: 20px;
}
.nav-links ul {
    justify-content: end;
    gap: 40px;
}
.nav-links{
    flex-basis: 730px;
}
.company-logo img{
    width: 200px;
}
/* Header */
header{
    padding: 50px var(--padding-inline-section) 0px;
}
.header-section{
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
}

.header-right img{
    width: 600px;
}
.header-left p{
    margin-top: 20px;
}
.header-left a{
    margin-top: 20px;
}
.get-started-btn{
    margin-top: 20px;
}
/* Companies Section */
.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 46px;
}

/* Features Section */
.features-section{
    padding: 80px var(--padding-inline-section) 0px;
    
}
.features-header{
    text-align: center;
}
.feature{
    background:url(/assets/asset\ 34.svg) no-repeat center;
    background-size:53rem;

}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    gap: 40px;
    margin-top: 20px;
}
.features-header h2{
    margin-bottom:20px ;
}
.features-card{
    flex-direction:column;
    gap:20px;
    max-width: 30%;
}

/* Big-Features-Section */
.big-features-section{
    padding: 30px var(--padding-inline-section) 0px;
}
.big-feature-container{
    gap: 30px;
}
.features-img img{
    width: 100%;
}
.features-desc{
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.features-desc h4{
    font-size:1.2rem;
    font-weight: 100;
}
.features-desc h2{
    font-weight: 500;
    letter-spacing: 1.2;
}
.features-logo{
    margin-top: 10px;
}
.features-logo img{
    width: 45%;
}
.features-logo+p{
    padding: 20px var(--padding-inline-section) 0px;
    font-weight:520;
    line-height: 1.5;
    font-size: 18px;
    background-image: url(/assets/asset\ 35.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    color: var(--primary-text-color);
}
.features-profile{
margin-top: 20px;
}
.feature-img{
    gap: 10px;
}
.feature-img img{
    width: 20%;
}
.profile-desc{
    flex-direction: column;
    align-items: flex-start;
}
.profile-desc h4{
    font-weight: 500;
}
.profile-desc h5{
    font-weight: 300;
}

/* Examples Section */
.examples-header{
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
.examples-card{
    width:23%;
    min-height:300px;
    position:relative;
    transition: 0.2s ease-out;
}
.examples-card:hover{
    box-shadow: 0 0 15px #8888;
}
.card-background-first{
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(/assets/asset\ 36.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card-background-second{
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(/assets/asset\ 37.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-background-third{
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(/assets/asset\ 38.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card-background-fourth{
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(/assets/asset\ 39.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card-text{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.2;
}
.examples-area{
    /* gap: 20px; */
    justify-content: space-around;
    margin-top: 20px;
}

/* CTA Section */
.cta-section{
    margin-top: 60px;
    border: 2px solid white;
    background-color: #183b54;
    padding: 25px 0 25px 0;
    color: white;
    height: 760px;
}
.cta-container{
    justify-content: space-around;
}
.cta-left{
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
}
.cta-left h3,.features-ul{
    line-height: 30px;
    color: #b9cde4;
    font-weight: 400;
    font-size: 1.2rem;
}
.features-ul{
    font-size: 0.9rem !important;
    line-height: 25px;
}
.cta-left h4{
    margin-top: 5%;
    font-size: 1.3rem;
    font-weight:600;
}
.cta-heading{
    font-size: 2.3rem;
}
.cta-right{
    width: 110vw;
}
.cta-right img{
    width: 100%;
    margin-left: 50px;
}
.ul-list{
    margin-top: 25px;
    gap: 67px;
    
}
.ul-left{
    display: block;
}
.features-ul{
    list-style: disc;
}
.learn-btn{
    color: #b9cde4;
}
.try-btn{
    margin:0 20px 10px 0 ;
}
.learn-btn{
    margin:0 0 10px 20px ;
}
/* CTA 2 */
.cta-two{
    flex-direction: column;
    gap: 50px;
    margin-top: 10%;
}
.cta-two h3{
    color: #577592;
    font-weight: 300;
    font-size: 1.4rem !important;
}
.cta-two a {
    font-size: 18px;
    display: block;
    font-weight: 400;
}

/* Footer Section */
.footer-container{
    gap: 20px;
    padding-top: 90px;
    padding-bottom: 20px;
    margin-top: 30px;
    justify-content: space-around;
    align-items: flex-start;
}
footer{
    background-color: #ebf2fa;
}
.company-logo a img{
    margin-top: 50px;
}
.link-coloumn{
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
/* Sub footer */
.subfooter{
    background-color: #b9cde4;
}
.subfooter-container{
    padding: var(--padding-inline-section);
    gap: 30px;
    justify-content: center;
}